.slider-main {
    width: 100%;
}

.certificates-box {
    max-width: 300px;
    margin: 0 auto;
    // &:hover .bullets-container-first{
    //     opacity: 0;
    // }
}
    
.slider-container {
    max-width: 230px;
    height: 330px;
    margin: auto;
    padding: 20px;
    position: relative;
    border: 2px solid grey;
    box-shadow: 0 0 5px black;
    overflow: hidden;
    

    transform: scale(1);
    transition: transform 0.5s ease-out;
    // &:hover {
    //     transform: scale(1.5);
    //     background-color: white;
    // }
    
    // &:hover {
    //     transform: scale(1.5);
    // }

    .link-wrapper {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#7a001d;
        opacity: 0;
        transition: opacity 0.3s linear;

        a {
            color: white;
            padding: 5px 10px;
        }

        &:hover {
            opacity: 1;
        }
    }



    &.first {

        &:hover .arrow {
            opacity: 0.4;
        }
        &:hover .link-wrapper {
            opacity: 0.4;
        }

        .link-wrapper:hover {
            opacity: 1;
        }

            .arrow {
            position: absolute;
            top: 40%;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color:  #525252;
            color: lightyellow;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 200;
            opacity: 0;
            transition: opacity 0.5s;
            cursor: pointer;

                &:hover {
                    opacity: 0.6;
                }

                &.left {
                    left: 10px;
                }
                &.right {
                    right: 10px;
                }

                &.hidden {
                    display: none;
                }
            }
        

        .img-box {
            max-width:100%;
            height: auto;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: opacity 0.5s;
            &.active {
                opacity: 1;
            }
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
        }

       
    }

}
.bullets-container-first {
   
    display: flex;
    justify-content: center;
    margin-top: 10px;
    .bullet {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color:  #525252;
        margin-right: 10px;
        border: 1px solid  #525252;
        transition: background-color 0.5s;
        cursor: pointer;
        overflow: hidden;

        &.active {
            background-color: white;
        }
        &.bullet {
            &::before {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                
            }
        }
        // &.bullet-0 {
        //     &::before {
        //         content: 'D';
        //     }
        // }
        // &.bullet-1 {
        //     &::before {
        //         content: '';
        //         background-image: url('../images/wordpress-logo.png');
        //         background-size: contain;
        //         // background-color: yellow;
        //     }
        // }

    }


}


