.box-header,
.box-footer,
.box-middle {
   position: absolute;
   width: 50px;
   height: 50px;
   background: transparent;
   border: 6px solid rgba(255,255,255,0.8);
}

.box-header:nth-child(1) {
    top: 50px;
    left: 50px;
    animation: rotate 12s linear infinite;
}
.box-header:nth-child(2) {
   top: 50px;
   left: 200px;
   animation: rotate 12s linear infinite;
}
.box-header:nth-child(3) {
   top: 500px;
   left: 300px;
   animation: rotate 6s linear infinite;
}
.box-header:nth-child(4) {
   top: 50px;
   right: 200px;
   animation: rotate 6s linear infinite;
}
.box-header:nth-child(5) {
   top: 150px;
   left: 600px;
   animation: rotate 8s linear infinite;
}

.box-header:nth-child(6) {
   bottom: 50px;
   left: 200px;
   animation: rotate 12s linear infinite;
}
.box-header:nth-child(7) {
   bottom: 250px;
   right: 200px;
   animation: rotate 10s linear infinite;
}
.box-header:nth-child(8) {
   bottom: 150px;
   right: 500px;
   animation: rotate 18s linear infinite;
}
.box-header:nth-child(9) {
   top: 40%;
   left: 300px;
   animation: rotate 6s linear infinite;
}
.box-header:nth-child(10) {
   bottom: 50px;
   right: 200px;
   animation: rotate 12s linear infinite;
}
.box-header:nth-child(1) {
   top: 40%;
   right: 350px;
   animation: rotate 13s linear infinite;
}


.box-middle:nth-child(2) {
   top: 50px;
   left: 200px;
   animation: rotate 6s linear infinite;
}
.box-middle:nth-child(3) {
   top: 50px;
   right: 300px;
   animation: rotate 8s linear infinite;
}
.box-middle:nth-child(4) {
   top: 120px;
   left: 500px;
   animation: rotate 10s linear infinite;
}
.box-middle:nth-child(5) {
   top: 180px;
   right: 200px;
   animation: rotate 6s linear infinite;
}
.box-middle:nth-child(1) {
   top: 80px;
   right: 100px;
   animation: rotate 8s linear infinite;
}

.box-footer:nth-child(2) {
   top: 150px;
   left: 600px;
   animation: rotate 8s linear infinite;
}

.box-footer:nth-child(3) {
   top: 50px;
   left: 200px;
   animation: rotate 12s linear infinite;
}
.box-footer:nth-child(4) {
   bottom: 250px;
   right: 200px;
   animation: rotate 10s linear infinite;
}
.box-footer:nth-child(5) {
   bottom: 150px;
   right: 500px;
   animation: rotate 18s linear infinite;
}
.box-footer:nth-child(6) {
   top: 40%;
   left: 500px;
   animation: rotate 6s linear infinite;
}
.box-footer:nth-child(7) {
   bottom: 50px;
   right: 50px;
   animation: rotate 12s linear infinite;
}
.box-footer:nth-child(8) {
   top: 40%;
   right: 350px;
   animation: rotate 13s linear infinite;
}
.box-footer:nth-child(9) {
   bottom: 40%;
   left: 200px;
   animation: rotate 13s linear infinite;
}
.box-footer:nth-child(10) {
   top: 100px;
   right: 150px;
   animation: rotate 13s linear infinite;
}
.box-footer:nth-child(1) {
   top: 20px;
   left: 350px;
   animation: rotate 13s linear infinite;
}


@keyframes rotate {
   0% {
       transform: scale(0) translateY(0) rotate(0);
       opacity: 1;
   }
   100% {
       transform: scale(1.3) translateY(0) rotate(360deg);
       opacity: 0;
   }
}


// ======================== Responsive ===============================

// @media(max-width: 600px){
@include md {



   .box-header:nth-child(5) {
      top: 150px;
      left: 150px;
      animation: rotate 8s linear infinite;
   }

   .box-header:nth-child(8) {
      bottom: 150px;
      right: 300px;
      animation: rotate 18s linear infinite;
   }

   .box-middle:nth-child(4) {
      top: 120px;
      left: 250px;
      animation: rotate 10s linear infinite;
   }

   .box-footer:nth-child(2) {
      display: none;
   }

   // .box-footer:nth-child(3) {
   //    display: none;
   // }

   .box-footer:nth-child(4) {
      display: none;
   }

   .box-footer:nth-child(5) {
      display: none;
   }
   .box-footer:nth-child(6) {
      display: none;
   }


}

@media(max-width: 320px){
   .box-header,
.box-footer,
.box-middle {
   display: none;
}
}

