.main-navigation {

    width: 100%;
    // height: 80px;
    transform: translateY(-63%);
    transition: transform 0.3s linear;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 300;

    &:hover {
        transform: translateY(0);
    }

    .nav-menu ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        background-color: $grey-200;
        padding: 20px 0;    
        a{
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            color: #F5F5F5;
            padding: 10px 20px;
        }

       
    }

    .navi-button {
        width: 80px;
        margin: 0 auto;
        margin-top: -2px;
        background-color:$grey-200;
        color: #F5F5F5;
        text-transform: uppercase;
        text-align: center;
        padding: 10px 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        cursor: pointer;

    }

}

.site-header {
   position: relative;
   width: 100%;
   height: 100vh;
}

.title-wrapper {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: #F5F5F5;
   text-align: center;
   h2 {
       font-size: 50px;
       span {
           color: $yellow-300;
       }
   }
   p {
       font-size: 40px;
   }
   .button-wrapper {
       margin-top: 10px;
       display: flex;
       justify-content: center;
       align-items: center;
       i {
           font-size: 0.8em;
       }
   }
   span {
       margin-left: 10px;
   }
   i {
       transform: rotate(0);
       transition: transform 0.5s linear;
   }
   a {
       text-decoration: none;
       color: white;
       font-size: 20px;
       border: 2px solid white;
       padding: 10px;
       border-radius: 3px;
       background-color: transparent;
       transition: background-color 0.3s ease-in;

       &:hover i{
           transform: rotate(90deg);
           
       }
       &:hover {
           background-color:#e0a800;

       }
   }

}

.nav-toggle {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 500;
}

.nav-toggle-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    z-index: 500;
    display: none;
    padding: 10px 5px;
    background-color: $grey-200;
    text-transform: uppercase;
    border-radius: 3px;
    width: 60px;
    // margin-top: 20px;
    // margin-left: 80%;
}

.go-up {
    width: 70px;
    height: 70px;
    background-color: $grey-200;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    position: sticky;
    top: 85%;
    left: 80%;
    z-index: 200;
    display: none;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white-200;
    }
}

// =================================== Responsive ====================================


@include md  {
    .go-up {
        display: flex;
    }
    .nav-toggle-button {
        display: block;
        .close {
            display: none;
        }
    }
    .main-navigation {
        position: absolute;
        transform: translateY(-100%);
        transition: transform 0.5s linear;
        
        .nav-menu ul {
            display: block;
            li {
                padding: 10px 0;
            }
        }
    }
    .navi-button {
        display: none;
    }
    .nav-toggle:checked+.main-navigation{
        transform: translateY(0);
        .nav-toggle-button{

            .close {
                display: block
            }
            .open {
                display: none;
            }
        }
    }
    .nav-toggle:checked~.nav-toggle-button {
        .open {
            display: none;
        }
        .close {
            display: block;
        }
    }
    .title-wrapper {
        h2 {
            font-size: 40px;
        }
    }
}




