.section {
    margin: 0 30px;
    padding: 30px 20px;
    padding-bottom: 80px;
    border-radius: 10px;;
 }

 .about-section {
    background-color:$white-200;

    .about-article {
        
        margin-top: 80px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        @include md {
            grid-template-columns: 1fr 1fr;
            column-gap: 20px;
            row-gap: 30px;
        }
        @include sm {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            row-gap: 30px;
        }

    }

    .skill-box {
        
        .skill {
            max-width: 400px;
            height: 30px;
            margin-bottom: 20px;
            position: relative;
            display: flex;
            align-items: center;
            background-color: white;
            box-shadow: 0 0 1px black;

            @include lg {
                max-width: 200px;
                height: 25px;
            }
            @include md {
                max-width: 90%;
                height: 25px;
            }
           
            &::before {
                display: block;
                content: '';
                height: 100%;
                width: 0;
                background-color:rgba(0,212,255,1);
                border-radius: 2px;
                transition: width 0.8s linear;
                // box-shadow: 0 0 5px black;
            }
            &.show {
                span {
                    display: block;
                }
            }
    
            &.html.show::before {
                width: 80%;
                // transition: width 0.3s linear;
            }
            &.css.show::before {
                width: 80%;
            }
            &.javascript.show::before {
                width: 70%;
            }
            &.angular.show::before {
                width: 40%;
            }
            &.react.show::before {
                width: 60%;
            }
            &.vue.show::before {
                width: 60%;
            }
            &.node.show::before {
                width: 50%;
            }
            &.wp.show::before {
                width: 70%;
            }
    
            
            span {
                display: none;
            }
            span.type {
                position: absolute;
                top: 50%;
                left: 10px;
                transform: translateY(-50%);
            }
            span.percentage {
                margin-left: 10px;
            }
        }
    }

    .img-wrapper {
        display: grid;
        grid-template-rows: 60% 40%;
        justify-items: center;
        
        @include lg {
           grid-template-rows: 1fr 1fr;
        }
        @include md {
            grid-column-start: 1;
            grid-column-end: 3;
            padding: 30px 30px 0 30px;
        }
        @include sm {
            grid-column-start: 1;
            grid-column-end: 2;
        }
        .text-info {
            width: 80%;
            margin-top: 30px;
            h3 {
                font-size: 30px;
                text-align: center;
            }
            a{
                color: $grey-200;

            }
            span {
                color: $yellow-300;
                text-shadow: 0 0 1px $grey-200;
            }
        }
        
    }
    .img-container {
        position: relative;
        overflow: hidden;
        transform: rotate(10deg);
        @include md {
            transform: rotate(0deg);
        }
        
        // height: 90%;
       
        // .arrow {
        //     position: absolute;
        //     width: 0; 
        //     height: 0; 
        //     border-top: 40px solid transparent;
        //     border-bottom: 40px solid transparent;
        //     border-left: 40px solid $white-200;

        //     &.left-top {
        //         transform: rotate(225deg);
        //         top: -28px;
        //         left:-8px;
        //     }

        //     &.right-top {
        //         transform: rotate(-45deg);
        //         top: -28px;
        //         right:-8px;
        //     }
        //     &.right-bottom {
        //         transform: rotate(45deg);
        //         bottom: -28px;
        //         right: -8px;
        //     }
        //     &.left-bottom {
        //         transform: rotate(135deg);
        //         bottom: -28px;
        //         left: -8px;
        //     }
        // }
       
    }
    
    .img-container::before {
        display: block;
        content: '';
        width: 200px;
        height: 100%;
        padding-top: 100%;
        overflow: hidden;
        // transform: rotate(-10deg);
        border: 2px solid $grey-200;
        position: relative;
        // z-index: 2;
        background-image: url('../images/profile2.jpg');
        background-size: cover;
        @include lg {
            width: 200px;
            height: auto;
        }
    }
    .img-container img {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        
    }
    

}


.midle-section {
    height: 200px;
    margin: 0 30px;
    position: relative;
    .add-wrapper {
        height: 100%;
        width: 80%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        p {
            font-size: 25px;
            font-weight: 700;
            color: $white-100;
            text-transform: uppercase;
        }
    }
}

 .my-work-section {
    background-color:$white-100;

     .work-category {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        list-style: none;
        max-width: 80%;
        margin: auto;
        margin-top: 80px;
        li{
            // border: 1px solid grey;
            border-bottom: none;
            display: flex;
            justify-content: center;
            align-items: stretch;
            background-color: #F5F5F5;
            transition: background-color 0.3s linear;
            min-width: 150px;
            border-radius: 2px;
            @include sm {
                border: 1px solid $grey-200;
                margin-bottom: 10px;
            }
            
         }

        li a{
             padding: 10px 20px;
             text-decoration: none;
             color:$grey-200;
             font-weight: bold;
             text-transform: uppercase;
             cursor: pointer;
             width: 100%;
             text-align: center;

             &.active{
                background-color: $yellow-300 ;
             }
         }
         
        li:hover {
            color: #F5F5F5;
            background-color: $yellow-300 ;

        }
     }

    
     .work-article {
        min-height: 500px;
        margin-top: 20px;
         .work-wrapper {
             display: grid;
             grid-template-columns: 1fr 1fr 1fr 1fr;
            min-height: 200px;
            position: relative;
            @include lg {
                grid-template-columns: 1fr 1fr 1fr;
            }
            @include md {
                grid-template-columns: 1fr 1fr;
            }
            @include sm {
                grid-template-columns: 1fr;
                row-gap: 10px;
            }
            .work-container {
                position: relative;
                width: 100%;
                height: 200px;
                animation: show 0.8s linear;
                cursor: pointer;
                @include xl {
                    max-height: 180px;
                }
                @include md {
                    max-height: 230px;
                    
                }
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-color: white;
                    opacity: 0;
                    transition: opacity 0.3s linear;
                }

                &:hover::before {
                    opacity: 0.7;
                }
                &:hover .search-icon-wrapper {
                    
                        opacity: 1;
                    
                }

                
                &.hidden{
                    display:none;
                }

                &.not-show {
                    transform: scale(0);
                }
                &.show {
                    transform: scale(1);
                }

                .description,
                .close-btn {
                    
                    display: none;
                }
                .close-btn {
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    font-size: 12px;
                    cursor: pointer;
                    padding: 3px 5px;
                    border: 1px solid $grey-200;
                    border-radius: 3px;
                    background-color: $white-200;
                    transition: background-color 0.3s linear;
                    &:hover {
                        background-color: $grey-200;
                        color: $white-200;
                    }

                }
                .description {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    display: flex;
                    justify-content: space-between;
                    padding: 5px 10px;
                    display: flex;
                    width: 100%;
                    min-height: 70px;
                    a {
                        display: none;
                        // background-color: $grey-200;
                        padding: 2px 3px;
                        color: $red-600;
                        text-shadow: 0 0 10px white;
                        @include md {
                            display: flex;
                        }
                    }
                }
                
                .search-icon-wrapper {
                    position: absolute;
                    font-size: 50px;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    @include md {
                        display: none;
                    }
                   
                    i {
                        color:$grey-200;
                        // opacity: 0;
                        transition: opacity 0.3s linear;
                    }

                }

                &.active {
                    transform: scale(2.5);
                    z-index: 1;
                    position: absolute;
                    top: 30%;
                    left: 30%;
                    width: 30%;
                    border-radius: 3px;
                    overflow: hidden;
                    cursor: auto;
                    .search-icon-wrapper {
                        display: none;
                    }
                    &::before {
                        display: none;
                    }
                                      

                    .description {
                        display: flex;
                        justify-content: space-between;
                        background-color: $grey-200;
                        color: $white-200;
                        opacity: 0.8;
                        ul {
                            // display: flex;
                            @include md {
                                display: block;
                            }
                            li {
                                margin-right: 10px;
                            }
                        }
                        a {
                            display: block;
                        }
                        
                    }
                    .close-btn {
                        display: block;
                    }
                }
               
            }

            img {
                width: 100%;
                height: 100%;
            }
         }
       
     }
}



h3.section-title {
    font-size: 50px;
    text-align: center;
    padding: 50px 0 20px 0;
    position: relative;
    color:$grey-200;

    &:after {
        display: block;
        content: '';
        position: absolute;
        height: 3px;
        width: 50px;
        background: linear-gradient(90deg, rgba(2,0,.6,1) 0%, rgba(9,9,121,1) 25%, rgba(0,212,255,1) 100% );
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
}