@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Raleway:wght@500;700&family=Tinos:wght@400;700&display=swap');
@import './css/_header.scss';
@import './css/_footer.scss';
@import './css/_slider.scss';
@import './css/_animation-box.scss';


* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    background: linear-gradient(90deg, rgba(2,0,.6,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100% );
    // min-height: 100vh;
    font-family: 'Raleway', sans-serif;
    font-family: 'Tinos', serif;
    color: #525252;
}
 
 a {
     text-decoration: none;
 }

 .section {
    margin: 0 30px;
    padding: 30px 20px;
    padding-bottom: 80px;
    border-radius: 10px;;
 }

 .about-section {
    // background-color: #F2F2F2;
    background-color: #F7F7F7;
    // border-top-left-radius: 10px;
    // border-top-right-radius: 10px;

    .about-article {
        
        margin-top: 80px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }

    .skill-box {
        
        .skill {
            width: 450px;
            height: 30px;
            margin-bottom: 20px;
            position: relative;
            display: flex;
            align-items: center;
            background-color: white;
            box-shadow: 0 0 1px black;
           
            &::before {
                display: block;
                content: '';
                height: 100%;
                width: 0;
                background-color:rgba(0,212,255,1);
                border-radius: 2px;
                transition: width 0.5s linear;
                // box-shadow: 0 0 5px black;
            }
            &.show {
                span {
                    display: block;
                }
            }
    
            &.html.show::before {
                width: 80%;
                // transition: width 0.3s linear;
            }
            &.css.show::before {
                width: 80%;
            }
            &.javascript.show::before {
                width: 70%;
            }
            &.angular.show::before {
                width: 40%;
            }
            &.react.show::before {
                width: 60%;
            }
            &.vue.show::before {
                width: 60%;
            }
            &.node.show::before {
                width: 50%;
            }
            &.wp.show::before {
                width: 70%;
            }
    
            
            span {
                display: none;
            }
            span.type {
                position: absolute;
                top: 50%;
                left: 10px;
                transform: translateY(-50%);
            }
            span.percentage {
                margin-left: 10px;
            }
        }
    }

    .img-wrapper {
        display: grid;
        grid-template-rows: 70% 30%;
        justify-items: center;
    }
    .img-container {
        position: relative;
        height: 90%;
       
        .arrow {
            position: absolute;
            width: 0; 
            height: 0; 
            border-top: 40px solid transparent;
            border-bottom: 40px solid transparent;
            border-left: 40px solid #F7F7F7;

            &.left-top {
                transform: rotate(225deg);
                top: -28px;
                left:-8px;
            }

            &.right-top {
                transform: rotate(-45deg);
                top: -28px;
                right:-8px;
            }
            &.right-bottom {
                transform: rotate(45deg);
                bottom: -28px;
                right: -8px;
            }
            &.left-bottom {
                transform: rotate(135deg);
                bottom: -28px;
                left: -8px;
            }
        }
       
    }
    
    .img-container::before {
        display: block;
        content: '';
        width: 240px;
        padding-top: 100%;
        overflow: hidden;
        border: 1px solid #525252;
    }
    .img-container img {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        
    }

}

.midle-section {
    height: 200px;
    margin: 0 30px;
    position: relative;
    .add-wrapper {
        height: 100%;
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            font-size: 25px;
            font-weight: 700;
            color: #F2F2F2;
            text-transform: uppercase;
        }
    }
}

 .my-work {
    // margin: 0 30px;
    // padding: 30px 50px;
    background-color: #F7F7F7;
    background-color: #F2F2F2;
    // border-bottom-left-radius: 10px;
    // border-bottom-right-radius: 10px;

     

     .work-category {
        display: flex;
        justify-content: space-around;
        list-style: none;
        max-width: 80%;
        margin: auto;
        margin-top: 80px;
        li{
            // border: 1px solid grey;
            border-bottom: none;
            display: flex;
            justify-content: center;
            align-items: stretch;
            background-color: #F5F5F5;
            transition: background-color 0.3s linear;
            min-width: 150px;
            border-radius: 2px;
            
         }

        li a{
             padding: 10px 20px;
             text-decoration: none;
             color: #525252;
             font-weight: bold;
             text-transform: uppercase;
             cursor: pointer;
             width: 100%;
             text-align: center;

             &.active{
                background-color: #FFBF00 ;
             }
         }
         
        li:hover {
            color: #F5F5F5;
            background-color: #FFBF00 ;

        }
     }

    
     .work-article {
        min-height: 500px;
        margin-top: 20px;
         .work-wrapper {
             display: grid;
             grid-template-columns: 1fr 1fr 1fr 1fr;
            min-height: 200px;
            .work-container {
                width: 100%;
                height: 200px;
                animation: show 03s;
                
                &.hidden{
                    display:none;
                }

                &.not-show {
                    transform: scale(0);
                }
                &.show {
                    transform: scale(1);
                }
            }

            img {
                width: 100%;
                height: 100%;
            }
         }
       
     }
}



h3.section-title {
    font-size: 50px;
    text-align: center;
    padding: 50px 0 20px 0;
    position: relative;
    color: #525252;

    &:after {
        display: block;
        content: '';
        position: absolute;
        height: 3px;
        width: 50px;
        background: linear-gradient(90deg, rgba(2,0,.6,1) 0%, rgba(9,9,121,1) 25%, rgba(0,212,255,1) 100% );
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
}

@keyframes show {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
 