@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Raleway:wght@500;700&family=Tinos:wght@400;700&display=swap");
.main-navigation {
  width: 100%;
  -webkit-transform: translateY(-63%);
          transform: translateY(-63%);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  z-index: 300;
}

.main-navigation:hover {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.main-navigation .nav-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  background-color: #525252;
  padding: 20px 0;
}

.main-navigation .nav-menu ul a {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #F5F5F5;
  padding: 10px 20px;
}

.main-navigation .navi-button {
  width: 80px;
  margin: auto;
  background-color: #525252;
  color: #F5F5F5;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.site-header {
  position: relative;
  width: 100%;
  height: 100vh;
}

.title-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #F5F5F5;
  text-align: center;
}

.title-wrapper h2 {
  font-size: 50px;
}

.title-wrapper h2 span {
  color: #FFBF00;
}

.title-wrapper p {
  font-size: 40px;
}

.title-wrapper .button-wrapper {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-wrapper .button-wrapper i {
  font-size: 0.8em;
}

.title-wrapper span {
  margin-left: 10px;
}

.title-wrapper i {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

.title-wrapper a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  border: 2px solid white;
  padding: 10px;
  border-radius: 3px;
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}

.title-wrapper a:hover i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.title-wrapper a:hover {
  background-color: #e0a800;
}

.site-footer {
  position: relative;
  width: 100%;
  height: 600px;
}

.footer-areas-container {
  width: 70%;
  height: 100%;
  margin: auto;
  color: #F5F5F5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-areas-container .label-input-container {
  margin-bottom: 10px;
}

.footer-areas-container input,
.footer-areas-container label {
  display: block;
}

.footer-areas-container .footer-label {
  font-size: 20px;
}

.footer-areas-container .footer-input,
.footer-areas-container .footer-textarea {
  width: 400px;
  border-radius: 3px;
  outline: none;
  background-color: #F2F2F2;
}

.footer-areas-container .footer-input {
  line-height: 28px;
}

.footer-areas-container .footer-textarea {
  height: 150px;
}

.footer-areas-container .button {
  display: block;
  width: 50px;
  padding: 10px 30px;
  background-color: transparent;
  color: #F5F5F5;
  border: 2px solid  #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}

.footer-areas-container .button:hover {
  background-color: #FFBF00;
}

.footer-areas-container .icons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.footer-areas-container .icons-wrapper .icon-box {
  width: 40px;
  height: 40px;
  background-color: white;
  margin-right: 20px;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.footer-areas-container .icons-wrapper .icon-box:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer-areas-container .icons-wrapper .icon-box.link {
  border-radius: 5px;
}

.footer-areas-container .icons-wrapper .icon-box.git {
  padding: 2px;
  border-radius: 50%;
}

.footer-areas-container .icons-wrapper .icon-box img {
  width: 100%;
  height: 100%;
}

.footer-areas-container .phone, .footer-areas-container .address, .footer-areas-container .email {
  margin-top: 20px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-areas-container .phone p, .footer-areas-container .address p, .footer-areas-container .email p {
  margin-left: 20px;
}

.footer-areas-container .address {
  margin-bottom: 20px;
}

.footer-areas-container .map {
  width: 100%;
}

.footer-areas-container .map iframe {
  border-radius: 3px;
}

.slider-main {
  width: 100%;
}

.certificates-box {
  max-width: 300px;
  margin: 0 auto;
}

.slider-container {
  max-width: 250px;
  height: 350px;
  margin: auto;
  padding: 20px;
  position: relative;
  border: 2px solid grey;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
  overflow: hidden;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.slider-container .link-wrapper {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #7a001d;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.slider-container .link-wrapper a {
  color: white;
  padding: 5px 10px;
}

.slider-container .link-wrapper:hover {
  opacity: 1;
}

.slider-container .cert-type {
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 1;
  z-index: 400;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.slider-container .cert-type p {
  color: #525252;
  font-size: 50px;
}

.slider-container.first:hover .cert-type {
  opacity: 1;
}

.slider-container.first:hover .arrow {
  opacity: 0.4;
}

.slider-container.first:hover .link-wrapper {
  opacity: 0.4;
}

.slider-container.first .link-wrapper:hover {
  opacity: 1;
}

.slider-container.first .arrow {
  position: absolute;
  top: 40%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #525252;
  color: lightyellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 200;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  cursor: pointer;
}

.slider-container.first .arrow:hover {
  opacity: 0.6;
}

.slider-container.first .arrow.left {
  left: 10px;
}

.slider-container.first .arrow.right {
  right: 10px;
}

.slider-container.first .arrow.hidden {
  display: none;
}

.slider-container.first .img-box {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.slider-container.first .img-box.active {
  opacity: 1;
}

.slider-container.first img {
  width: 100%;
  height: 100%;
  display: block;
}

.bullets-container-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.bullets-container-first .bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #525252;
  margin-right: 10px;
  border: 1px solid  #525252;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  cursor: pointer;
  overflow: hidden;
}

.bullets-container-first .bullet.active {
  background-color: white;
}

.bullets-container-first .bullet.bullet::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.box-header,
.box-footer,
.box-middle {
  position: absolute;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 6px solid rgba(255, 255, 255, 0.8);
}

.box-header:nth-child(1) {
  top: 20px;
  left: 20px;
  -webkit-animation: rotate 12s linear infinite;
          animation: rotate 12s linear infinite;
}

.box-header:nth-child(2) {
  top: 50px;
  left: 200px;
  -webkit-animation: rotate 12s linear infinite;
          animation: rotate 12s linear infinite;
}

.box-header:nth-child(3) {
  top: 500px;
  left: 300px;
  -webkit-animation: rotate 6s linear infinite;
          animation: rotate 6s linear infinite;
}

.box-header:nth-child(4) {
  top: 50px;
  right: 200px;
  -webkit-animation: rotate 6s linear infinite;
          animation: rotate 6s linear infinite;
}

.box-header:nth-child(5) {
  top: 150px;
  left: 600px;
  -webkit-animation: rotate 8s linear infinite;
          animation: rotate 8s linear infinite;
}

.box-header:nth-child(6) {
  bottom: 50px;
  left: 200px;
  -webkit-animation: rotate 12s linear infinite;
          animation: rotate 12s linear infinite;
}

.box-header:nth-child(7) {
  bottom: 250px;
  right: 200px;
  -webkit-animation: rotate 10s linear infinite;
          animation: rotate 10s linear infinite;
}

.box-header:nth-child(8) {
  bottom: 150px;
  right: 500px;
  -webkit-animation: rotate 18s linear infinite;
          animation: rotate 18s linear infinite;
}

.box-header:nth-child(9) {
  top: 40%;
  left: 500px;
  -webkit-animation: rotate 6s linear infinite;
          animation: rotate 6s linear infinite;
}

.box-header:nth-child(10) {
  bottom: 50px;
  right: 50px;
  -webkit-animation: rotate 12s linear infinite;
          animation: rotate 12s linear infinite;
}

.box-middle:nth-child(2) {
  top: 50px;
  left: 200px;
  -webkit-animation: rotate 6s linear infinite;
          animation: rotate 6s linear infinite;
}

.box-middle:nth-child(3) {
  top: 50px;
  right: 300px;
  -webkit-animation: rotate 8s linear infinite;
          animation: rotate 8s linear infinite;
}

.box-middle:nth-child(4) {
  top: 120px;
  left: 600px;
  -webkit-animation: rotate 10s linear infinite;
          animation: rotate 10s linear infinite;
}

.box-middle:nth-child(5) {
  top: 180px;
  right: 200px;
  -webkit-animation: rotate 6s linear infinite;
          animation: rotate 6s linear infinite;
}

.box-middle:nth-child(1) {
  top: 80px;
  right: 100px;
  -webkit-animation: rotate 8s linear infinite;
          animation: rotate 8s linear infinite;
}

.box-footer:nth-child(2) {
  top: 150px;
  left: 600px;
  -webkit-animation: rotate 8s linear infinite;
          animation: rotate 8s linear infinite;
}

.box-footer:nth-child(3) {
  top: 50px;
  left: 200px;
  -webkit-animation: rotate 12s linear infinite;
          animation: rotate 12s linear infinite;
}

.box-footer:nth-child(4) {
  bottom: 250px;
  right: 200px;
  -webkit-animation: rotate 10s linear infinite;
          animation: rotate 10s linear infinite;
}

.box-footer:nth-child(5) {
  bottom: 150px;
  right: 500px;
  -webkit-animation: rotate 18s linear infinite;
          animation: rotate 18s linear infinite;
}

.box-footer:nth-child(6) {
  top: 40%;
  left: 500px;
  -webkit-animation: rotate 6s linear infinite;
          animation: rotate 6s linear infinite;
}

.box-footer:nth-child(7) {
  bottom: 50px;
  right: 50px;
  -webkit-animation: rotate 12s linear infinite;
          animation: rotate 12s linear infinite;
}

.box-footer:nth-child(8) {
  top: 40%;
  right: 350px;
  -webkit-animation: rotate 13s linear infinite;
          animation: rotate 13s linear infinite;
}

.box-footer:nth-child(9) {
  bottom: 40%;
  left: 200px;
  -webkit-animation: rotate 13s linear infinite;
          animation: rotate 13s linear infinite;
}

.box-footer:nth-child(10) {
  top: 100px;
  right: 150px;
  -webkit-animation: rotate 13s linear infinite;
          animation: rotate 13s linear infinite;
}

.box-footer:nth-child(1) {
  top: 20px;
  left: 350px;
  -webkit-animation: rotate 13s linear infinite;
          animation: rotate 13s linear infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: scale(0) translateY(0) rotate(0);
            transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.3) translateY(0) rotate(360deg);
            transform: scale(1.3) translateY(0) rotate(360deg);
    opacity: 0;
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: scale(0) translateY(0) rotate(0);
            transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.3) translateY(0) rotate(360deg);
            transform: scale(1.3) translateY(0) rotate(360deg);
    opacity: 0;
  }
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#020001), color-stop(35%, #090979), to(#00d4ff));
  background: linear-gradient(90deg, #020001 0%, #090979 35%, #00d4ff 100%);
  font-family: 'Raleway', sans-serif;
  font-family: 'Tinos', serif;
  color: #525252;
}

a {
  text-decoration: none;
}

.section {
  margin: 0 30px;
  padding: 30px 20px;
  padding-bottom: 80px;
  border-radius: 10px;
}

.about-section {
  background-color: #F7F7F7;
}

.about-section .about-article {
  margin-top: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.about-section .skill-box .skill {
  width: 450px;
  height: 30px;
  margin-bottom: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  -webkit-box-shadow: 0 0 1px black;
          box-shadow: 0 0 1px black;
}

.about-section .skill-box .skill::before {
  display: block;
  content: '';
  height: 100%;
  width: 0;
  background-color: #00d4ff;
  border-radius: 2px;
  -webkit-transition: width 0.5s linear;
  transition: width 0.5s linear;
}

.about-section .skill-box .skill.show span {
  display: block;
}

.about-section .skill-box .skill.html.show::before {
  width: 80%;
}

.about-section .skill-box .skill.css.show::before {
  width: 80%;
}

.about-section .skill-box .skill.javascript.show::before {
  width: 70%;
}

.about-section .skill-box .skill.angular.show::before {
  width: 40%;
}

.about-section .skill-box .skill.react.show::before {
  width: 60%;
}

.about-section .skill-box .skill.vue.show::before {
  width: 60%;
}

.about-section .skill-box .skill.node.show::before {
  width: 50%;
}

.about-section .skill-box .skill.wp.show::before {
  width: 70%;
}

.about-section .skill-box .skill span {
  display: none;
}

.about-section .skill-box .skill span.type {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.about-section .skill-box .skill span.percentage {
  margin-left: 10px;
}

.about-section .img-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 70% 30%;
      grid-template-rows: 70% 30%;
  justify-items: center;
}

.about-section .img-container {
  position: relative;
  height: 90%;
}

.about-section .img-container .arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid #F7F7F7;
}

.about-section .img-container .arrow.left-top {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  top: -28px;
  left: -8px;
}

.about-section .img-container .arrow.right-top {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: -28px;
  right: -8px;
}

.about-section .img-container .arrow.right-bottom {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: -28px;
  right: -8px;
}

.about-section .img-container .arrow.left-bottom {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  bottom: -28px;
  left: -8px;
}

.about-section .img-container::before {
  display: block;
  content: '';
  width: 240px;
  padding-top: 100%;
  overflow: hidden;
  border: 1px solid #525252;
}

.about-section .img-container img {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.midle-section {
  height: 200px;
  margin: 0 30px;
  position: relative;
}

.midle-section .add-wrapper {
  height: 100%;
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.midle-section .add-wrapper p {
  font-size: 25px;
  font-weight: 700;
  color: #F2F2F2;
  text-transform: uppercase;
}

.my-work {
  background-color: #F2F2F2;
}

.my-work .work-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  max-width: 80%;
  margin: auto;
  margin-top: 80px;
}

.my-work .work-category li {
  border-bottom: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-color: #F5F5F5;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  min-width: 150px;
  border-radius: 2px;
}

.my-work .work-category li a {
  padding: 10px 20px;
  text-decoration: none;
  color: #525252;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.my-work .work-category li a.active {
  background-color: #FFBF00;
}

.my-work .work-category li:hover {
  color: #F5F5F5;
  background-color: #FFBF00;
}

.my-work .work-article {
  min-height: 500px;
  margin-top: 20px;
}

.my-work .work-article .work-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  min-height: 200px;
}

.my-work .work-article .work-wrapper .work-container {
  position: relative;
  width: 100%;
  height: 200px;
  -webkit-animation: show 03s;
          animation: show 03s;
  cursor: pointer;
}

.my-work .work-article .work-wrapper .work-container::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.my-work .work-article .work-wrapper .work-container:hover::before {
  opacity: 0.5;
}

.my-work .work-article .work-wrapper .work-container.hidden {
  display: none;
}

.my-work .work-article .work-wrapper .work-container.not-show {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.my-work .work-article .work-wrapper .work-container.show {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.my-work .work-article .work-wrapper .work-container .search-icon-wrapper {
  position: absolute;
  font-size: 50px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-work .work-article .work-wrapper .work-container .search-icon-wrapper i {
  color: #525252;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.my-work .work-article .work-wrapper .work-container .search-icon-wrapper:hover i {
  opacity: 1;
}

.my-work .work-article .work-wrapper img {
  width: 100%;
  height: 100%;
}

h3.section-title {
  font-size: 50px;
  text-align: center;
  padding: 50px 0 20px 0;
  position: relative;
  color: #525252;
}

h3.section-title:after {
  display: block;
  content: '';
  position: absolute;
  height: 3px;
  width: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#020001), color-stop(25%, #090979), to(#00d4ff));
  background: linear-gradient(90deg, #020001 0%, #090979 25%, #00d4ff 100%);
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@-webkit-keyframes show {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes show {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=style.css.map */